.toggleNav {
	float: right;
	font-size: 2em;
	cursor: pointer;
}

.toggleNav:hover {
	text-shadow: 0 0 2px #333
}

.container {
	display: flex;
	font-family: sans-serif;
}

.nav {
	padding: 20px;
	text-align: center;
	z-index: 1;
	background-color: #fff;
}

.main {
	width: 80%;
	padding: 20px;
	text-align: center;
}

#map {
    height: 80%;
}

#stateList {
	width: calc(50%);
}

#schoolList {
	padding: 5px;
}

#schoolList button {
	padding: 20px 5px;
	font-weight: bold;
	width: 100%;
	font-size: 0.8em;
	cursor: pointer;
}

#schoolList button:hover {
	border-radius: 5px;
}

