.button:hover a {
	display: block;
}

.button:hover p {
	display: block;
}

.button:hover span {
	font-size: 1.2em;
}

.container {
	display: flex;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.nav {
	width: 20%;
	padding: 20px;
	text-align: center;
}

.main {
	width: 80%;
	padding: 20px;
	text-align: center;
}

#map {
    height: 80%;
}

#stateList {
	width: calc(50%);
}

#schoolList {
	padding: 5px;
}

#schoolList button {
	padding: 20px 5px;
	font-weight: bold;
	width: 100%;
	font-size: 0.8em;
	cursor: pointer;
}

#schoolList button:hover {
	border-radius: 5px;
}

#schoolList button:hover .container {
	background-color: black;
}

/*For List of Schools*/
.hide {
	display: none;
}

.show {
	display: block;
	padding: 5px;
}
/* --- */
