.container {
	display: flex;
}

.nav {
	width: 20%;
	padding: 20px;
}

.main {
	width: 80%;
	padding: 20px;
	text-align: center;
}

#map {
    height: 80%;
}

.content {
	display: none;
}

.hide {
	display: none;
}

.show {
	display: block;
	padding: 5px;
}